* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  background-color: wheat;
}

body > div:first-child {
  height: 4rem;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}
body > div:first-child > div {
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto;

  justify-self: end;
}
body > div:first-child button {
  justify-self: start;

  width: 7rem;
  height: 2rem;
  background-color: lightgreen;
  border: 1px solid #2b2d31;
  border-radius: 6px;
  cursor: pointer;
}

.cards {
  min-height: calc(100vh - 4rem);
  width: 80vw;
  background-color: #1e1f22;
  padding: 1.5rem;
  border-radius: 12px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
}

.card {
  background-color: #2b2d31;
  border-radius: 12px;
  padding: 1rem;
  color: lightgray;

  display: grid;
  align-content: start;
  justify-content: center;
  gap: 0.3rem;
}
